<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="connectionFactory" class="com.sahilm.stuff.ConnectionFactory">
        <constructor-arg value="${host}"/>
    </bean>

    <bean class="com.sahilm.stuff.Producer">
        <constructor-arg ref="connectionFactory"/>
    </bean>

    <bean class="com.sahilm.stuff.Consumer">
        <constructor-arg ref="connectionFactory"/>
    </bean>
</beans>
